<!-- Desktop navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary desktop-navbar">
  <div class="container-fluid">

    <a id="nav-brand" class="navbar-brand" href="#">futTalk</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a id="nav-home-desktop" class="nav-link active" href="/index.html">
            <img src="/images/home.png" alt="Home" width="24" height="24">
          </a>
        </li>

        <li id="nav-favorites-desktop" class="nav-item d-none">
          <a class="nav-link" href="/pages/bookmarks.html">
            <i class="bi bi-star fs-5"></i>
          </a>
        </li>

        <li id="nav-settings-desktop" class="nav-item d-none">
          <a class="nav-link" href="/pages/settings.html">
            <i class="bi bi-gear-fill"></i>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <a id="nav-search-desktop" class="nav-link active" href="/pages/searchPage.html">
          <img src="/images/magnifying-glass.png" alt="Search" width="24" height="24">
        </a>
      </form>
    </div>
  </div>
</nav>

<!-- Mobile bottom navbar -->
<nav class="bottom-navbar mobile-navbar">
  <a id="nav-profile-mobile" class="bottom-nav-item" href="/pages/bookmarks.html" aria-label="Favorites">
    <i class="bi bi-star-fill"></i>
  </a>

  <a id="nav-home-mobile" class="bottom-nav-item" href="/pages/post.html" aria-label="Home">
    <i class="bi bi-house-fill"></i>
  </a>

  <a id="nav-settings-mobile" class="bottom-nav-item d-none" href="/pages/settings.html" aria-label="Settings">
    <i class="bi bi-gear-fill"></i>
  </a>
</nav>